body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}
p {
  margin: 0;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 1em;
  background-color: #767ab9;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

/* GENERAL STYLING */
.wrapper {
  max-width: 650px;
  margin: 4em auto 0 auto;
}
button {
  font-size: 18px;
  padding: 3px 10px;
  color: white;
  background-color: #767ab9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #302c6f;
  transition: all 0.5s;
}

/* toggle dv display */
.hide {
  display: none;
}

/* START SCREEN */

h1 {
  font-size: 2em;
  font-weight: bolder;
  margin: 1em auto 1em auto;
}

#start-screen {
  text-align: center;
}

.about {
  margin-bottom: 2em;
}

/* QUESTION & END SCREEN */
.choices {
  margin-left: 1em;
}

.choices button{
  display: block;
  margin: 5px 0 5px 0;
}

.question-header {
  display: flex;
  align-items: center;
}

/* END SCREEN */
h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em auto 1em auto;
}

p {
  margin: 1em auto 1em auto;
}


input[type = "text"] {
  padding: 4px 6px;
  font-size: 16px;
}

/* Highscores Page */

ol {
  list-style-position: inside;
  margin-bottom: 2em;
}

ol li {
  padding: 4px;
}

ol li:nth-child(odd) {
  background-color: #d8daef;
}

#highscores a {
  padding: 3px 10px;
  color: white;
  text-decoration: none;
  background-color: #767ab9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#highscores a:hover {
  background-color: #302c6f;
  transition: all 0.5s;
}