body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}
p {
  margin: 0;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0.5em 1em 0.5em;
  background-color: #767ab9;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

/* GENERAL PAGE */
main {
  max-width: 650px;
}

/* toggle dv display */
.hide {
  display: none;
}

/* START SCREEN */
.start-screen {
  text-align: center;
  padding-top: 1em;
}

.start-screen h1 {
  font-size: 2em;
  font-weight: bolder;
  margin: 1em auto 1em auto;
}

.about {
  margin-bottom: 2em;
}

button {
  font-size: 18px;
  padding: 3px 10px;
  color: white;
  background-color: #767ab9;
  border: none;
  border-radius: 5px;
}

/* QUESTION & END SCREEN */
h2 {
  font-size: 1.5em;
  font-weight: bold;
}


input[type = "text"] {
  padding: 4px 6px;
  font-size: 16px;
}